.numeroDePagina{
    font-size: large;
}

select.especie{
	width: auto;
}

.retro{
	position: fixed;
}

.menuScrolleable{
	margin-top: 50px;
}

.fotoWidth{
	width: 1000px;
}

.fotoMaxWidth{
	max-width: 100%;
}