<div ng-include="'vistas/modalAgregarEspecie.html'"></div>
<div ng-include="'vistas/modalVerFoto.html'"></div>
<div ng-init="obtenerEspecies()">
    <div class="row">
        <div class="alert alert-danger fade in retro" ng-show="errores">{{mensaje}}</div>
        <div class="alert alert-success fade in retro" ng-show="exito">{{mensaje}}</div>
    </div>
    <div class="row">
        <div>
            Mostrar: 
            <select ng-change="actualizarPagina(paginaActual)" ng-options="res for res in resultadosDisponibles" ng-model="resultados">
            </select>
            &nbsp incidentes
            <button class="btn btn-link" data-toggle="modal" data-target="#agregarEspecie" ng-click="obtenerEstadosEspecies()"><i class="fa fa-plus"></i> Agregar nueva especie</button>
        </div>
        <div class="pull-right">
            Filtrar por especie:
            <select ng-model="especieSeleccionada" ng-change="actualizarPagina(paginaActual)" ng-options='especie.idEspecie as (especie.nombreComun + " - " + especie.nombreCientifico) for especie in especiesFiltro'></select>
        </div>
    </div>
    <hr/>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nombre común - científico</th>
                    <th>Ubicación</th>
                    <th>Ruta</th>
                    <th>Km.</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="incidente in incidentes">
                    <td><a data-toggle="modal" data-target="#verFoto"><img ng-src="{{ 'http://148.243.51.170:8007/obsfauna/public_html/imagenes' + (incidente.rutaThumbnail).split('imagenes')[1] }}" ng-click="asignarRutaFoto(incidente.rutaFoto)"></a></td>
                    <td ng-hide="editando[$index]">
                        {{nombreEspecie[$index]}}
                    </td>
                    <td ng-show="editando[$index]">
                        <select ng-model="incidente.idEspecie" ng-options='especie.idEspecie as (especie.nombreComun + " - " + especie.nombreCientifico) for especie in especies' class="" data-live-search="true">
                        </select>
                    </td>
                    <td><a href=""><i class="fa fa-map-marker"></i> Ver mapa</a></td>
                    <td ng-hide="editando[$index]">
                        {{incidente.ruta}}
                    </td>
                    <td ng-show="editando[$index]">
                        <input type="text" ng-model="incidente.ruta">
                    </td>
                    <td ng-hide="editando[$index]">
                        {{incidente.km}}
                    </td>
                    <td ng-show="editando[$index]">
                        <input type="text" ng-model="incidente.km">
                    </td>
                    <td>
                        {{incidente.fecha}}
                    </td>
                    <td>
                        <a ng-hide="editando[$index]" ng-click="editables($index)" class="btn btn-link" ng-class="{ disabled: editandoIn }"><i class="fa fa-edit fa-2x"></i></a>
                        <a ng-show="editando[$index]" ng-click="modificarIncidente($index, incidente.idIncidente, incidente.idEspecie, incidente.ruta, incidente.km)" class="btn btn-link"><i class="fa fa-floppy-o fa-2x"></i></a>
                        <a ng-click="eliminarIncidente(incidente.idIncidente)" class="btn btn-link" ng-class="{ disabled: editandoIn }"><i class="fa fa-trash-o fa-2x"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div>
            Mostrando {{desde}} al {{hasta}} de {{total}} incidentes
        </div>
        <div class="pull-right">
            <a ng-click="actualizarPagina(1)" class="btn btn-link" ng-class="{ disabled: !regresar }"><i class="fa fa-angle-double-left fa-2x"></i></a>
            <a ng-click="actualizarPagina(paginaActual - 1)" class="btn btn-link" ng-class="{ disabled: !regresar }"><i class="fa fa-angle-left fa-2x"></i></a>
            <span class="numeroDePagina">{{paginaActual}}</span>
            <a ng-click="actualizarPagina(paginaActual + 1)" class="btn btn-link" ng-class="{ disabled: !avanzar }"><i class="fa fa-angle-right fa-2x"></i></a>
            <a ng-click="actualizarPagina(ultimaPagina)" class="btn btn-link" ng-class="{ disabled: !avanzar }"><i class="fa fa-angle-double-right fa-2x"></i></a>
        </div>
    </div>
</div>