<div ng-init="obtenerEspecies(); actualizarPagina(1)">
    <div class="row">
        <div class="alert alert-danger fade in retro" ng-show="errores">{{mensaje}}</div>
        <div class="alert alert-success fade in retro" ng-show="exito">{{mensaje}}</div>
    </div>
    <div class="row">
        <div>
            Mostrar: 
            <select ng-change="actualizarPagina(paginaActual)" ng-options="res for res in resultadosDisponibles" ng-model="resultados">
            </select>
            &nbsp incidentes
            <button class="btn btn-link"><i class="fa fa-plus"></i> Agregar nueva especie</button>
        </div>
        <div class="pull-right">
            Filtrar por especie:
            <select ng-model="especieSeleccionada" ng-change="actualizarPagina(paginaActual)" ng-options='especie.idEspecie as (especie.nombreComun + " - " + especie.nombreCientifico) for especie in especiesFiltro'></select>
        </div>
    </div>
    <hr/>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nombre común - científico</th>
                    <th>Ubicación</th>
                    <th>Km.</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="incidente in incidentes">
                    <th><img ng-src="{{ 'http://148.243.51.170:8007/obsfauna/public_html/imagenes' + (incidente.rutaThumbnail).split('imagenes')[1] }}"></th>
                    <th>
                        <select ng-model="incidente.idEspecie" ng-change="modificarIncidente(incidente.idIncidente, incidente.idEspecie)" ng-options='especie.idEspecie as (especie.nombreComun + " - " + especie.nombreCientifico) for especie in especies' class="" data-live-search="true">
                        </select>                        
                    </th>
                    <th> - </th>
                    <th>{{incidente.km}}</th>
                    <th>{{incidente.fecha}}</th>
                    <th><a ng-click="eliminarIncidente(incidente.idIncidente)" class="btn btn-link"><i class="fa fa-trash-o fa-2x"></i></a></th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div>
            Mostrando {{desde}} al {{hasta}} de {{total}} incidentes
        </div>
        <div class="pull-right">
            <a ng-click="actualizarPagina(1)" class="btn btn-link" ng-class="{ disabled: !regresar }"><i class="fa fa-angle-double-left fa-2x"></i></a>
            <a ng-click="actualizarPagina(paginaActual - 1)" class="btn btn-link" ng-class="{ disabled: !regresar }"><i class="fa fa-angle-left fa-2x"></i></a>
            <span class="numeroDePagina">{{paginaActual}}</span>
            <a ng-click="actualizarPagina(paginaActual + 1)" class="btn btn-link" ng-class="{ disabled: !avanzar }"><i class="fa fa-angle-right fa-2x"></i></a>
            <a ng-click="actualizarPagina(ultimaPagina)" class="btn btn-link" ng-class="{ disabled: !avanzar }"><i class="fa fa-angle-double-right fa-2x"></i></a>
        </div>
    </div>
</div>