<div ng-include="'vistas/modalAgregarEspecie.html'"></div>
<div ng-init="obtenerEstadosEspecies();">
	<div class="row">
        <div class="alert alert-danger fade in retro" ng-show="errores">{{mensaje}}</div>
        <div class="alert alert-success fade in retro" ng-show="exito">{{mensaje}}</div>
	</div>
	<div class="row">
        <div>
            Mostrar: 
            <select ng-change="actualizarPagina(paginaActual)" ng-options="res for res in resultadosDisponibles" ng-model="resultados">
            </select>
            &nbsp especies
            <button class="btn btn-link" data-toggle="modal" data-target="#agregarEspecie" ng-class="{ disabled: editandoEs }"><i class="fa fa-plus"></i> Agregar nueva especie</button>
        </div>
	</div>
	<hr>
	<div class="row">
		<table class="table table-stripedd">
			<thead>
				<tr>
					<th>Nombre común</th>
					<th>Nombre científico</th>
					<th>Estado</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="especie in especies">
					<td ng-hide="editando[$index]">
						{{especie.nombreComun}}
					</td>
					<td ng-show="editando[$index]">
						<input type="text" ng-model="especie.nombreComun">
					</td>
					<td ng-hide="editando[$index]">
						{{especie.nombreCientifico}}
					</td>
					<td ng-show="editando[$index]">
						<input type="text" ng-model="especie.nombreCientifico">
					</td>
					<td ng-hide="editando[$index]">
						{{nombreEstado[$index]}}
					</td>
					<td ng-show="editando[$index]">
						<select ng-model="especie.idEstadoEspecie" ng-options="estado.idEstadoEspecie as estado.estado for estado in estados"></select>
					</td>
					<td>
                        <a ng-hide="editando[$index]" ng-click="editables($index)" class="btn btn-link" ng-class="{ disabled: editandoEs }"><i class="fa fa-edit fa-2x"></i></a>
                        <a ng-show="editando[$index]" ng-click="modificarEspecie($index, especie.idEspecie, especie.nombreComun, especie.nombreCientifico, especie.idEstadoEspecie)" class="btn btn-link"><i class="fa fa-floppy-o fa-2x"></i></a>
						<a ng-click="eliminarEspecie(especie.idEspecie)" class="btn btn-link" ng-class="{ disabled: editandoEs }"><i class="fa fa-trash fa-2x"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	    <div class="row">
        <div>
            Mostrando {{desde}} al {{hasta}} de {{total}} especies
        </div>
        <div class="pull-right">
            <a ng-click="actualizarPagina(1)" class="btn btn-link" ng-class="{ disabled: !regresar }"><i class="fa fa-angle-double-left fa-2x"></i></a>
            <a ng-click="actualizarPagina(paginaActual - 1)" class="btn btn-link" ng-class="{ disabled: !regresar }"><i class="fa fa-angle-left fa-2x"></i></a>
            <span class="numeroDePagina">{{paginaActual}}</span>
            <a ng-click="actualizarPagina(paginaActual + 1)" class="btn btn-link" ng-class="{ disabled: !avanzar }"><i class="fa fa-angle-right fa-2x"></i></a>
            <a ng-click="actualizarPagina(ultimaPagina)" class="btn btn-link" ng-class="{ disabled: !avanzar }"><i class="fa fa-angle-double-right fa-2x"></i></a>
        </div>
    </div>

</div>