<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="ControllersSuite">
            <file>./app/tests/EspeciesControllerTest.php</file>
            <file>./app/tests/IncidentesControllerTest.php</file>
        </testsuite>
        <testsuite name="ServicesSuite">
            <file>./app/tests/ServicioOMMFCMEspeciesTest.php</file>
            <file>./app/tests/ServicioOMMFCMIncidentesTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
